<nav class="navbar">
    <a href="index.html" class="logo-container">
        <img src="assets/logo.png" alt="Kidofy Logo" class="logo-img">
        <span class="logo-text">Kidofy</span>
    </a>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="index.html#features">Features</a></li>
        <li><a href="index.html#download" class="btn-primary" style="padding: 10px 25px; font-size: 1rem;">Download</a></li>
    </ul>
</nav>
