<nav class="navbar">
    <a href="index.html" class="logo-container">
        <img src="assets/logo.png" alt="Kidofy Logo" class="logo-img">
        <span class="logo-text">Kidofy</span>
    </a>

    <!-- Hamburger Button -->
    <button class="mobile-menu-btn" aria-label="Toggle Menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="index.html#features">Features</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.kidofy.kidsapp" class="btn-primary promote-btn"
                target="_blank" style="padding: 12px 30px; font-size: 1.1rem; border-radius: 100px;">Download App</a>
        </li>
    </ul>
</nav>